@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Instrument Sans', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-size: 16px;
}

#main {
    width: 100%;
    /* height: 100vh; */
    /* position: relative; */
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

.background-image {
    background: url('/assets/images/satoruGojoHero.png') center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

#nav {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10rem;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
}

.navleft h1 {
    margin: 0;
    font-size: 2rem;
    font-family: 'Nosifer', sans-serif;
    letter-spacing: -.19rem;
}

.navright a {
    text-decoration: none;
    color: #000;
    margin: 0 2rem;
    font-size: 1.3rem;
    font-weight: 100;
}

.navright a:hover {
    text-decoration: underline;
}

.paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-left: 30%;
    width: 40%;
    flex-wrap: wrap;
}

.paragraph p {
    color: #000;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 100;
    letter-spacing: -.05rem;
    line-height: 1.2;
}

.paragraph p span {
    font-family: 'Nosifer', sans-serif;
    font-size: 2.2rem;
    color: transparent;
    letter-spacing: -.16rem;
    -webkit-text-stroke: .08rem #000;
    transition: all ease-in-out .2s;
}

.paragraph p span:hover {
    color: #000
}

.circle {
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    border: .05rem solid #131313;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.circle i {
    font-size: 2rem;
    color: #000;
    transition: transform 0.3s ease;
}

.circle:hover {
    transform: scale(1.2);
}

.circle:not(:hover) i {
    animation: bounce 2s infinite;
    transition: all ease-in-out .3s linear;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-0.8rem);
        /* Move up */
    }

    60% {
        transform: translateY(0.8rem);
        /* Move down */
    }
}

.secondPage {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #d8d8d8;
    padding: 5rem 10rem;
}

.secondPage .secleft {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 1rem 8rem;
}

.secondPage .secleft h1:nth-child(1) {
    font-size: 3rem;
    font-weight: 500;
    padding: 0 5rem;
    padding-left: 0;
    line-height: 1;
    letter-spacing: -.05rem;
}

.secondPage .secleft h1:nth-child(2) {
    font-size: 5rem;
    font-weight: 600;
    padding: 0 5rem;
    padding-left: 3rem;
    line-height: 1;
    letter-spacing: -.1rem;
}

.secondPage .secright {
    padding: 1rem 3rem;
}

.secondPage .secright p {
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: -.05rem;
    width: 40vw;
}

.secondPage .secright p a {
    text-decoration: none;
    color: rgb(19, 63, 207);
}

.secondPage .secright p a:hover {
    -webkit-text-stroke: .5px #131313;
}

.thirdPage {
    background-color: #1a1a1a;
    padding: 5rem 5rem;
    text-align: center;
}

.heading {
    margin-bottom: 5rem;
}

.heading h1 {
    font-size: 4rem;
    color: #f5f5f7;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 25vw;
    height: 70vh;
    overflow: hidden;
    box-shadow: .5rem .5rem 1rem rgba(255, 255, 255, 0.2);
    transition: all ease 0.3s;
}

.card h3 {
    font-size: 2rem;
    display: flex;
    text-align: center;
    color: #afaaaa;
    margin: 1rem 10rem;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .box {
    position: absolute;
    width: 100%;
    height: 40%;
    background: linear-gradient(transparent, #000000);
    bottom: -40%;
    transition: all ease-in-out .3s;
}

.card:hover {
    border-radius: 1rem;
}

.card:hover .box {
    bottom: 0;
}